$black: #232323;
$background: #7f7679;
$gray-line: #f6f6f6;
$orange: #f6d80b;
$preloader:#f3f3f3;

$container-width: 90%;

$duration: 0.15s;

$laptop: 1500px;
$tablet: 1300px;
$tablet2: 930px;
$phone: 800px;
$phone2: 480px;

